
// Navigation

.navbar {
  background-color: var(--bgColor);
  border-bottom: 1px solid var(--grayColor);
  position: sticky;
  top: 0;
  width: 100%;
  // height: 100%;
  text-align: center;
  // margin: 1rem;
  padding: 0 1rem;

  .nav-container {
    display: flex;
    justify-content: space-between;
    // height: 100%;
    margin: auto;
    

    .nav-title {
      padding-top: .5rem;

      a {
        
        img {
          height: 100px;
          width: 100px;

          @media screen and (max-width: 992px) {

            height: 80px;
            width: 80px;
          }

          @media screen and (max-width: 768px) {

          }
        }
      }
    }

    .nav-links {
      
      .nav-ul {
        display: flex;
        height: 100%;

        .nav-li {
          // height: 100%;
          border-right: 1px solid var(--grayColor);

          &:first-child {
            border-left: 1px solid var(--grayColor); 
          }

          .nav-item {
            padding: 0rem 2rem;
            font-size: 2rem; 
            font-weight: 500;
            font-family: var(--montserrat);
            height: 100%;

            display: flex;
            align-items: center;
            @include ease(); 
          
            &:hover {
              cursor: pointer;
              background-color: var(--secondaryColor);
            }
          }

          @media screen and (max-width: 992px) {
              
            .nav-item {

              font-size: 1.8rem; 
              padding: 0rem 1.5rem;
            }
          }

          @media screen and (max-width: 768px) {

            .nav-item {

              font-size: 1.6rem; 
              padding: 0rem 1rem;
            }
          }

          @media screen and (max-width: 576px) {

            display: none;
          }
        }
      }
    }

    @media screen and (max-width: 576px) {

      justify-content: center;
    }
  }
}