

.container {
  max-width: 120rem; /* 1200px */
}

@mixin ease() {
  transition: all .1s ease-in-out;
}

.button {
  text-align: center;
  padding: 1rem 2rem;
  font-size: 2rem;
  font-family: var(--roboto);
}

.buttonOrangeBorder {
  background-color: var(--bgColor);
  border: 3px solid var(--secondaryColor);
  @include ease();

  &:hover {
    cursor: pointer;
    background-color: var(--secondaryColor);
    color: var(--bgColor);
  }
}

.buttonBlueSolid {
  border: 2px solid var(--mainColor);
  background-color: var(--mainColor);
  color: var(--bgColor);
  @include ease(); 

  &:hover {
    cursor: pointer;
    background-color: var(--bgColor);
    color: var(--mainColor);
  }
}

.buttonWhiteBorder {
  background-color: var(--mainColor);
  color: var(--bgColor);
  border: 2px solid var(--bgColor);
  @include ease(); 

  &:hover {
    cursor: pointer;
    background-color: var(--bgColor);
    color: var(--blackColor);
  }
}

