
@import 'config';
@import 'utilities';
@import 'navbar';


// Hero Section

.hero {
  height: 90vh;
  background-image: url('/build/img/hero-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;

  .hero-container {
    text-align: center;

    .hero-content {
      margin-bottom: 2rem;

      h1 {
        font-weight: 600;
        text-transform: uppercase;

        #hero-span { 
          color: var(--mainColor);
          font-size: 5rem;
          font-weight: 600;
        }
      }
    }
  }
} // End of Hero Section


// --- Main ---


// Consultation Section

.consultation {
  padding: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;

  .consult-container {

    .consult-title {

      #consult-span {
        text-transform: uppercase;
        font-size: 4rem;
        color: var(--greenColor);
        font-weight: 600;
      }
    }
  
    .consult-content {
      margin: 2.5rem 0 3rem 0;
  
      h5 {
        font-weight: 400;
      }
    }

    .consult-button {
      display: flex;
      align-items: center;

      i {
        margin-left: 1rem;
      }
    }
  }
} // End of Consultation Section


// Services Section

.services {
  // border: 2px solid green;
  display: flex;
  flex-direction: column;
  align-items: center;

  .services-top-container {
    background-image: url('/build/img/service.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
    width: 100%;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    &:after { 
      content: '';
      position: absolute; 
      top: 0;
      right: 0;
      background: rgba($color: #111, $alpha: .9); 
      height: 100%;
      width: 100%;
    }

    .services-top-wrapper {
      z-index: 2;
      width: 80rem;

      .services-title {
  
        h2 {
          color: var(--bgColor);
          font-weight: 600;
        }
  
        h4 {
          color: var(--bgColor);
        }
      }
  
      .services-content {
        margin-top: 3rem;
  
        p {
          color: var(--bgColor);
          font-weight: 400;
        }
      }

      .services-button {
        margin-top: 3rem;
      }
    }
  }

  .services-bottom-container {
    margin: 10rem 0;
    width: 100%;
    height: 100%;

    .services-bottom-wrapper {

      .services-items {
  
        .item-lists {
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
          grid-gap: 2rem;
  
          li {
            border: 1px solid gray;
            padding: 2rem;

            h5 {
              font-weight: bold;
              margin-top: .5rem;
            }
  
            p {
              color: black;
            }
          }
        }
      }
    }
  }
} // End of Services Section


// Teams Section
.team {
  // border: 2px solid pink;
  background-color: var(--mainColor);
  // height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10rem 0;

  .team-container {
    // border: 2px solid green;
    // margin: 8rem;
    width: 100%;
    height: 100%;
    text-align: center;

    .team-heading {

      h2 {
        color: var(--bgColor);
      }
    }

    #team-heading-underline {
      border: 1px solid var(--bgColor);
      width: 5rem;
      margin: auto;
      margin-bottom: 5rem;
    }

    .team-list {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
      grid-gap: 5rem;

      .team-img-wrapper {

        filter: grayscale(1);
        @include ease();

        &:hover {
          filter: grayscale(0);
        }

        position: relative;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        .team-item-content {
          background:var(--secondaryColor);
          width: 100%;
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translate(-50%, -50%);
          text-align: center;
          padding: .5rem;

          h4 {
            font-weight: 600;
            font-family: 'Montserrat';
          }

          p {
            font-size: 1.3rem;
          }
        }
      }
    }

    .team-button {
      margin-top: 8rem;
    }
  }
} // End of Teams Section


// Clients Section
.clients {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8rem 0;

  .clients-container {
    text-align: center;

    #clients-underline {
      border: 1px solid black;
      width: 5rem;
      margin: auto;
      margin-top: 4rem;
      margin-bottom: 5rem;
    }

    .clients-lists {
      margin: 5rem 0;

      .clients-item-list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
        grid-gap: 5rem;

        li {
          filter: grayscale(1);

          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
} // End of Clients Section


// Impact Section

.impact {
  background-color: var(--mainColor);
  padding: 8rem;
  text-align: center;
  display: flex;
  flex-direction: row;

  .impact-list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-gap: 3rem;

    .impact-items {

      .impact-item-top {
        display: flex;
        justify-content: center;
        align-items: center;

        i {
          font-size: 3rem;
          margin-right: 2rem;
          color: var(--bgColor);
        }

        h1 {
          color: var(--bgColor);
        }
      }

      .impact-item-bottom {

        p {
          color: var(--bgColor);
        }
      }
    }
  }
} // End of Impact Section
